mixin if-ie(condition, showInNonIeBrowser)
	- if(showInNonIeBrowser == null) showInNonIeBrowser = condition == "!IE";
	!= "<!--[if " + condition + "]>"
	if showInNonIeBrowser
		!= "-->"
	block
	if showInNonIeBrowser
		!= "<!--"
	!= "<![endif]-->"

mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/sprite/sprite.svg#" + name)

mixin main-menu(type, link, text, icon)
	li(class=`${type}-menu__item`)
		a(class=`${type}-menu__link` href= link)=text

mixin downloadBadge(href, title, icon, size)
	.download
		p.download-title= title
		a(href= href, title="Скачать" target="_blank", rel="noopener noreferrer").download-actions
			+icon(icon)
			span= size

mixin breadcrumbs()
	.section.section-breadcrumbs
		ul.breadcrumbs
			li.breadcrumbs-item.breadcrumbs-item--first
				a.breadcrumbs-item__link(href="") Главная
			li.breadcrumbs-item
				a.breadcrumbs-item__link(href="") Пациентам
			li.breadcrumbs-item
				a.breadcrumbs-item__link(href="") Расписание приёма врачей
			li.breadcrumbs-item.breadcrumbs-item--last
				span.breadcrumbs-item__link Детская поликлиника

mixin filesLink(href, icon, title, size, bigText)
	.file-link__wrap
		a.file(href= href target="_blank" rel="noopener noreferrer")
			span.file-icon
				+icon(icon)
			if(bigText)
				span.file-title.big-title= title
			else
				span.file-title= title
			if(size)
				span.file-size= size
			else
				span.file-size.link переход на другой сайт


mixin dayShedule()
	table.tftable(border="1px solid #000")
		caption распорядок дня в отделениях
		tr
			td 06.00-6.30
			td Подъем, измерение температуры
		tr
			td 06.30-8.00
			td Инъекции, процедуры
		tr
			td 08.30-09.30
			td Завтрак
		tr
			td 09.30-10.00
			td Обход
		tr
			td 10.00-13.00
			td Выписка пациентов
		tr
			td 13.00-14.00
			td Обед
		tr
			td 14.00-16.00
			td Тихий час
		tr
			td 16.00-19.00
			td Посещения больных
		tr
			td 17.00-18.00
			td Ужин
		tr
			td 18.00-20.00
			td Инъекции, процедуры
		tr
			td 20.00-21.00
			td Вечерний туалет
		tr
			td 21.00-22.00
			td Подготовка ко сну
		tr
			td 22.00
			td Отбой

//- sections items

mixin organizationsItem(href, src, alt, text)
	.organizations-item
		a.organizations-item__link(href= href target="_blank")
			.organizations-item__icon-box
				img(src=`img/organizations/${src}.jpg`, alt= alt)
			p.organizations-item__content= text

mixin servicesItem(href, icon, title, text)
	.services-item
		a.services-item__link(href= href)
			.services-item__icon-box
				+icon(icon)
			p.services-item__title= title
			p.services-item__content= text

mixin newsItem(href, day, year, title, text)
	.post-module
		.thumbnail
			.date
				.day= day
				.month= year
			img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg')
		.post-content
			.category Photos
			h1.title= title
			h2.sub_title The city that never sleeps.
			p.description= text
			.post-content__bottom
				button.btn.btn--card
					.circle
						span.icon.arrow
					p.button-text Перейти
				.post-meta
					svg.icon.icon-clock
						use(xlink:href="img/sprite/sprite.svg#clock")
					span.timestamp
						|  6мин назад



mixin linksItem(href, text)
	li.links-item
		a.links-item__link(href= href)= text

mixin quickItem(href, icon , text)
	.quick-item
		a.quick-item__link(href= href)
			+icon(`quick--${icon}`)
			span= text