mixin if-ie(condition, showInNonIeBrowser)
	- if(showInNonIeBrowser == null) showInNonIeBrowser = condition == "!IE";
	!= "<!--[if " + condition + "]>"
	if showInNonIeBrowser
		!= "-->"
	block
	if showInNonIeBrowser
		!= "<!--"
	!= "<![endif]-->"

mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/sprite/sprite.svg#" + name)

mixin main-menu(type, link, text, icon)
	li(class=`${type}-menu__item`)
		a(class=`${type}-menu__link` href= link)=text

mixin downloadBadge(href, title, icon, size)
	.download
		p.download-title= title
		a(href= href, title="Скачать" target="_blank", rel="noopener noreferrer").download-actions
			+icon(icon)
			span= size
			

//- sections items

mixin organizationsItem(href, src, alt, text)
	.organizations-item
		a.organizations-item__link(href= href target="_blank")
			.organizations-item__icon-box
				img(src=`img/organizations/${src}.jpg`, alt= alt)
			p.organizations-item__content= text

mixin servicesItem(href, icon, title, text)
	.services-item
		a.services-item__link(href= href)
			.services-item__icon-box
				+icon(icon)
			p.services-item__title= title
			p.services-item__content= text

mixin newsItem(href, date, title, text)
	//- article.news__item.item-news
	//- 	a.item-news__link(href= href)
	//- 		+icon('right-arrow')
	//- 	span.item-news__date= date
	//- 	span.item-news__title= title
	//- 	p.item-news__text= text
	
	.post-module
		.thumbnail
			.date
				.day= href
				.month= date
			img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg')
		.post-content
			.category Photos
			h1.title= title
			h2.sub_title The city that never sleeps.
			p.description= text
			.post-meta
				span.timestamp
					i.fa.fa-clock- o
					|  6 mins ago
				span.comments
					i.fa.fa-comments
					a(href='#')  39 comments

mixin linksItem(href, text)
	li.links-item
		a.links-item__link(href= href)= text

mixin quickItem(href, icon , text)
	.quick-item
		a.quick-item__link(href= href)
			+icon(`quick--${icon}`)
			span= text